@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email for a link to reset your password, including the 
    junk mail folder in case it appears in there.
</p>
